body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/*navbar*/
.navbar{
    height:5 rem ;
    background-color: white;
}

.fa-compass{
    color: rgb(242, 58, 58);
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}


.f-info-socials i{
    margin-right: 1rem;
     font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: rgb(147, 150, 153);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly ;
}

/* card*/
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect*/
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay{
    opacity: 0.2;
    background-color: white;
}
/* new page*/
.add-btn{
    background-color: rgb(200, 49, 49) !important;
    border: none !important;

}
/*edit page*/
.edit-btn{
    background-color: rgb(213, 42, 42) !important;
    border: none !important;

}
/*show page*/
.show-image{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}